### Database ###
DATABASE_URL="postgresql://!ChangeMe!:!ChangeMe!@db:5432/!ChangeMe!"
### Database ###

### JWT ###
JWT_SECRET=
### JWT ###

### Password Reset Token Key ###
RESET_TOKEN_PASSWORD=
### Password Reset Token Key ###

### NodeMailer ###
RESEND_KEY=!ChangeMe!
### NodeMailer ###

