### Database ###
DATABASE_URL="postgresql://!ChangeMe!:!ChangeMe!@db:5432/!ChangeMe!"
### Database ###

### JWT ###
JWT_SECRET=
### JWT ###

### NodeMailer ###
RESEND_KEY=!ChangeMe!
### NodeMailer ###
