### Database ###
DATABASE_URL="postgresql://!ChangeMe!:!ChangeMe!@db:5432/!ChangeMe!"
### Database ###

### JWT ###
JWT_SECRET=
### JWT ###

### NodeMailer ###
MAILER_HOST=!ChangeMe!
MAILER_PORT=!ChangeMe!
MAILER_USERNAME=!ChangeMe!
MAILER_PASSWORD=!ChangeMe!
### NodeMailer ###
